* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
}

html {
  font-size: 18px;
}

body {
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  animation: gradientTransition 6s ease infinite;
  background-size: 400% 400%;
}

input {
  all: unset;
  padding: 5px;
  border: 1px solid #3a4551;
  background-color: #f2eef7;
  transition: all 0.2s;
  color: #3a4551;
}

input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: scale(1.03);
}

a {
  all: unset;
  background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
}

a:hover {
  filter: brightness(1.6);
}

a:active {
  transform: scale(1.06);
}

li {
  list-style: none;
}

.index-title {
  color: #f2eef7;
  margin-top: 15px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 6px;
  opacity: 0.9;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.index-nav {
  padding: 15px;
  display: flex;
  justify-content: left;
}

.index-nav-item {
  all: unset;
  position: relative;
  padding: 20 30 20 30px;
  margin: 15px;
  color: #f2eef7;
  transition: all 0.5s;
  border-radius: 3px;
}

.index-nav-item:hover {
  font-weight: bold;
}

.index-nav-item svg,
.index-nav-item svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}

.index-nav-item svg rect {
  stroke-opacity: 0.7;
  stroke: #fff;
  stroke-width: 2;
  transition: 1.5s;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  stroke-linecap: round;
}

.index-nav-item:hover svg rect {
  stroke-dasharray: 500;
  /* stroke-dashoffset: 0; */
  animation: dash 1s ease-in alternate infinite;
}

.bg {
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transform-origin: center;
  transform: skew(-80deg, 0deg);
}

.bg2 {
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transform-origin: center;
  transform: skew(45deg, 0deg);
}

.bg3 {
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  transform-origin: center;
  transform: skew(-89deg, -34deg);
}

.index-color-box-contain,
.index-code-box-contain {
  display: flex;
  width: 90%;
  height: 72%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -64%);
  background-color: #f2eef7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 17px;
  border-radius: 4px;
}

.index-color-box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 28%;
  color: #3a4551;
  background-color: #f2eef7;
  padding: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  margin: 10px;
}

.index-color-box-item-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 26px;
  transition: all 1s;
}

.index-color-box-item-circle:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.index-color-box-item-circle:active {
  transform: scale(1.06);
}

.index-color-box-title {
  font-weight: bold;
  font-size: 1.16rem;
  margin-bottom: 3px;
}

.index-color-box-color-code {
  color: #3a4551;
  letter-spacing: 2px;
  font-weight: 200;
  margin-bottom: 7px;
}

.index-color-box-update-btn {
  margin-right: 20px;
}

.index-color-box-item-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: #f2eef7;
  border-radius: 50%;
}

.index-add-color-modal {
  width: 30%;
  position: absolute;
  background-color: #f2eef7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  opacity: 1;
  height: 40%;
  display: flex;
  overflow: hidden;
}

.index-add-color-modal-div-title {
  position: absolute;
  top: 42%;
  margin: 30px;
}

.index-add-color-modal-div-color {
  position: absolute;
  top: 55%;
  margin: 30px;
}

.index-add-color-modal-span {
  display: inline-block;
  width: 120px;
  text-align: left;
  color: #3a4551;
  font-weight: 200;
}

.index-add-color-modal-title,
.index-add-color-modal-code {
  vertical-align: middle;
}

.index-add-color-modal-close {
  position: absolute;
  right: 5%;
  top: 5%;
}

.index-add-color-modal-save {
  position: absolute;
  bottom: 5%;
}

.index-add-clor-modal-banner {
  color: #3a4551;
  position: absolute;
  top: 10%;
}

.index-add-color-modal-notice {
  display: block;
  position: absolute;
  border-radius: 6px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -200%);
  padding: 6px;
  width: 100%;
  opacity: 0;
  font-weight: bold;
  background: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index-color-box-item-add-icon {
  fill: gray;
  transition: all 0.7s;
}
.index-color-box-item-add-icon:hover {
  fill: url(#purpleGradient);
  transform: scale(1.1);
  cursor: pointer;
}

.show {
  opacity: 1;
  transition: opacity 0.2s;
}

.hide {
  opacity: 0;
  transition: opacity 0.2s;
}

.focus-out {
  filter: brightness(0.4);
}

.selected-nav {
  border-bottom: 3px solid #f2eef7;
  font-weight: bold;
  transition: all 0.5s;
}

.hide-box {
  display: none;
}

.hide-add-modal {
  opacity: 0;
  height: 0;
  /* display: none; For Use Folding Animation, Comment this line */
  transition: all 0.2s;
  width: 45%;
  visibility: hidden;
}

.index-update-color-modal {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  padding: 30px;
  border-radius: 6px;
  background-color: #7f53ac;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
  color: #f2eef7;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: gradientTransition 6s ease infinite;
  background-size: 300% 300%;
  transition: all 0.5s;
  overflow: hidden;
}

.index-update-color-modal-old {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 20%;
  top: 40%;
}

.index-update-color-modal-arrow {
  width: 5%;
  height: 5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  top: 50%;
  fill: #f2eef7;
  stroke: #fff;
  stroke-width: 15;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-opacity: 0;
  animation: strokeFillAnimation 3s ease-in-out infinite alternate-reverse;
  fill-opacity: 1;
}

.index-update-color-modal-new {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 60%;
  top: 40%;
}

.index-update-color-modal-banner {
  position: relative;
  text-align: center;
  color: #f2eef7;
  font-weight: 200;
  letter-spacing: 4px;
  border-bottom: 1px solid #f2eef7;
  padding-bottom: 50px;
}

.index-update-color-modal-btn-div {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.index-update-color-modal-save,
.index-update-color-modal-cancel {
  color: #f2eef7;
  -webkit-text-fill-color: #f2eef7;
  text-decoration: underline;
}

.index-update-color-modal-save {
  margin-right: 10px;
}

.index-update-color-modal-circle,
.index-update-color-modal-circle-new {
  width: 100px;
  height: 100px;
  background-color: #f2eef7;
  border-radius: 50%;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.index-update-color-modal-title,
.index-update-color-modal-title-new {
  display: inline-block;
  margin-bottom: 10px;
}

.index-update-color-modal-code,
.index-update-color-modal-code-new {
  display: inline-block;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.hide-update-modal {
  filter: blur(3px);
  height: 0;
  width: 0;
  opacity: 0;
  transform: scale(0.7);
  transition: width 2s opacity 0.1s transofrm 2s;
  padding: 0;
  visibility: none;
}

.index-update-color-modal-span {
  display: inline-block;
  width: 100px;
}

@keyframes gradientTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes strokeFillAnimation {
  100% {
    stroke-dashoffset: 0;
    stroke-width: 10;
    stroke-opacity: 1;
    transform: rotate(180deg) translateX(150%);
    fill: none;
    fill-opacity: 0;
  }
}
